<configuration>
	<appSettings>
		<add key="XmlProjectPath" value="\xml-data\" />
		<add key="XmlServerPath" value="/xml-data/" />
		<add key="ServerHost" value="fe.ddns.protal.biz" />
		<add key="ServerUsername" value="sftpuser" />
		<add key="ServerPassword" value="hyperpass" />
		<add key="ServerPort"  value="22" />
		<add key="FirstFileCharacter"  value="2" />
		<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FuelReports;Integrated Security=True"/>
	</appSettings>
</configuration>